<nav>
  <ul>
    <li>
      <a routerLink="">inicio</a>
    </li>
    <li>
      <a routerLink="usuarios" routerLinkActive="current" [ngClass]="!usuarioLogueado ? 'disabled': ''">usuarios</a>
    </li>
    <li>
      <a routerLink="tareas" routerLinkActive="current" [ngClass]="!usuarioLogueado ? 'disabled': ''">tareas</a>
    </li>
    <li>
      <a routerLink="login" *ngIf="!usuarioLogueado" routerLinkActive="current">login</a>
      <a routerLink="login" *ngIf="usuarioLogueado" (click)="logout()" class="red">logout</a>
    </li>
  </ul>
</nav>