

<form #loginForm="ngForm" class="login-box">
  <h2>LOGIN</h2>
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput type="text" color="accent" [(ngModel)]="nom" name="nom" required autocomplete="off">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hidePass ? 'password' : 'text'" [(ngModel)]="pass" name="pass" required minlength="7">
    <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
      <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <button mat-flat-button color="accent" [disabled]="loginForm.invalid" (click)="login()">Ingresar</button>


</form>